doctype html
html
  head
    meta(charset="UTF-8")
    title='TO DO'
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
  body
    div(ng-app="toDoList", ng-controller="UserController")
      div(class="navbar navbar-default")
        div.container
          div.navbar-brand TODO list
          ul(class="nav navbar-nav navbar-right", ng-if="!user")
            li
              a(ui-sref="login") Sign In
            li
              a(ui-sref="register") Register

          ul(class="nav navbar-nav navbar-right", ng-if="user")
            li
              a User: {{user.login}}
            li
              a(ng-click="logout()") Logout

      div(class="container" id="content")
        div(ui-view)
      script(src="js/angular.min.js")
      script(src="js/angular-ui-router.min.js")
      script(src="js/ui-bootstrap-tpls.min.js")
      script(src="js/angular-resource.min.js")
      script(src="js/app/app1.js")

