div.row
  div.col-xs-4.col-xs-offset-4
    form.panel.panel-default.inp-form(ng-submit="Login()")
      div.panel-heading Sign in:
      div.banel-body
        div.form-group
          label(for="login") Login:
          input#login.form-control(type="text", placeholder="Enter login", ng-model="login")
        div.form-group
          label(for="pass") Password:
          input#pass.form-control(type="password", placeholder="Enter password", ng-model="pass")
        div.form-group
          input.btn.btn-success(type="submit", value="Sign In")
